body{font-family: 'Gabarito', cursive;
font-family: 'Karla', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Onest', sans-serif;}

table,td {border: 1px solid black;
    border-collapse: collapse;}